<template>
    <div class="background">
        <div class="name">
            <h1 class="title">{{ name }} </h1>
        </div>
        <div class="titleCard">
            <img :src="image"/>
        </div>
        <div class="card1">
            <select v-model="categoryChosen" class="leaders">
                <option value="none">Choisis la catégorie</option>
                <template v-for="(category,index) in categories" :key="index">
                    <option v-if="category.links[5]" :value="category.id" :text="category.name"></option>
                </template> 
            </select>
            <div v-if="categoryChosen != 'none' && infos.rules" class = results>
                <div class="rules">
                    <h1 class="rulesTitle">RULES</h1>
                    <p class="rulesInfo">{{ infos.rules }}</p>
                </div>
            </div>
        </div>
        <div v-for="(score, index) in leaderboard" :key="index" class="card2">
            <LeaderboardScore :leaderboard="score"/>
        </div>
    </div>
</template>

<script>
    
    import LeaderboardScore from './LeaderboardScore.vue'

    export default{
        name: 'BackBodyGame',
        components : {
            LeaderboardScore,
        },
        props: {
            name: String,
            image: String,
            categories: Array,
            infos: Object,
            leaderboard: Array,
        },
        data() {
            return {
                categoryChosen: 'none'
            }
        },
        watch: {
            categoryChosen() {
                this.$emit('categoryChosen', this.categoryChosen);
            },
        },
        mounted () {
            console.log(this.categories);
        },
        emits: ['categoryChosen']
    }

</script>

<style scoped>
    .background{
        display: flex;
        background-color: #111618;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }

    .name{
        display: flex;
        background-color: #323c44;
        width: 240px;
        height: 60px;
        margin-top: 100px;
        justify-content: center;
        align-items: center;
    }
    
    .titleCard{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px;
        max-width: 1532px;
        height: 80%;
        padding: 40px;
        background-color: #252F37;
    }

    .title{
        color: white;
        font-size: 1.2rem;
    }

    .leaders{
        background-color: #212A31;
        color: aliceblue;
        padding: 10px;

    }

    .card1{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px 100px;
        width: 100%;
        max-width: 1532px;
        height: 80%;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: #252F37;
    }

    .card2{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        border-radius: 100px 10px;
        width: 100%;
        max-width: 1532px;
        height: 80%;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #252F37;
    }

    .rules{
        justify-content: center;
    }

    .rulesTitle{
        font-size: 1.5rem;
        margin-top: 20px;
        margin-bottom: 20px;
        color: aliceblue;
    }

    .rulesInfo{
        font-size: 1.1rem;
        margin: 20px;
        justify-content: center;
        align-items: center;
        color: aliceblue;
    }

</style>