<template>
    <div class="background">
        
    </div>
    
</template>

<script>

    export default {
        name: 'BackFooter'
    }

</script>

<style scoped>

    .background{
        width: 100%;
        height: 70vh;
        background-color: #353E46;
    }

</style>