<template>
    <div class="background">
        <div class="card">
            <select v-model="selectedPlatform" class="platform">
                <option>Toutes les plateformes</option>
                <option v-for="(platform,index) in platforms" :key="index" :value="platform.id" :text="platform.name">
                    {{ platform.name }}
                </option>
            </select>
            <select v-model="selectedOrderValue" class="order">
                <option value="name.int">Ordonner par ordre alphabétique</option>
                <option value="name.jap">Ordonner par ordre alphabétique japonais</option>
                <option value="released">Ordonner par date de parution</option>
                <option value="created">Ordonner par date d'ajout au site</option>
            </select>
            <div v-if="whichLanguage === 'International'" class="component">
                <router-link v-for="(data, index) in tab" :key="index" :to="{name: 'game', params:{id:data.id}}">
                    <CardText :img="data.assets['cover-large'].uri" :title="data.names.international?.toUpperCase()" class="affiche"/>
                </router-link>
            </div>
            <div v-else-if="whichLanguage === 'Japanese'" class="component">
                <router-link v-for="(data, index) in tab" :key="index" :to="{name: 'game', params:{id:data.id}}">
                    <CardText :img="data.assets['cover-large'].uri" :title="data.names.japanese ? data.names.japanese.toUpperCase() : data.names.international.toUpperCase()" class="affiche"/>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
import CardText from './CardText.vue'

    export default{
        name: 'BackBody',
        components: {
            CardText
        },
        props: {
            tab: Array,
            whichLanguage: String,
            whichOrder: String
        },
        methods: {
            async fetchPlatforms() {
                let res = await fetch("https://www.speedrun.com/api/v1/platforms?max=200");
                res = await res.json();
                this.platforms = res.data;
            }
        },
        data() {
            return {
                platforms: [],
                selectedPlatform: 'Toutes les plateformes',
                selectedOrderValue: 'name.int'
            }
        },
        async mounted(){
            await this.fetchPlatforms();
        },
        watch: {
            async selectedPlatform() {
                this.$emit('platform', this.selectedPlatform);
            },
            async selectedOrderValue() {
                this.$emit('order', this.selectedOrderValue);
            }
        },
        emits: ['platform', 'order']
    }

</script>

<style scoped>
    .background{
        display: flex;
        background-color: #111618;
        justify-content: center;
    }

    .platform{
        display: flex;
        padding: 8px 9px;
        background-color: #111618;
        color: aliceblue;
        font-size: 0.9rem;
        margin: 2px;
    }

    .order{
        display: flex;
        padding: 8px 9px;
        background-color: #111618;
        color: aliceblue;
        font-size: 0.9rem;     
        margin: 2px;
    }

    .card{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        border-radius: 10px 100px;
        width: 100%;
        max-width: 1532px;
        height: 80%;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 150px;
        margin-bottom: 100px;
        background-color: #252F37;
    }

    .component{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        border-radius: 10px 100px;
        width: 100%;
        max-width: 1532px;
        height: 80%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .affiche{
        margin: 10px;
        justify-content: center;
        background-color: #D1DFE2;
        border-radius: 10%;
        transition: 0.2s ease-in-out;
    }

    .affiche:hover{
        transition: 0.2s ease-in-out;
        transform: scale(0.95);
    }

    .affiche:active{
        transition: 0.1s linear;
        transform: scale(0.86);
    }


</style>