<template>
  <div class="bref">
    <img :src="img" class="image" draggable="false"/>
    <p class="text"> {{ title }} </p>
  </div>
</template>
  
  <script>
  export default {
    name: 'CardText',
    props: {
      img: String,
      title: String
    }
  }
  </script>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->

  <style scoped>
  .bref{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: static;
    max-width: 192px;
    min-height: 290px;
  }

  .image{
    max-width: 100%;
    user-select: none;
  }

  .text{
    padding-top: 15px;
    user-select: none;
  }
</style>