<template>
    <div class="text">
        <p class="placement"> {{ leaderboard.place }} </p>
        <p> Temps : {{ seconds }} secondes ! par &thinsp;  </p>
        <p class="name"> {{ namePlayer }} </p>
    </div>
</template>

<script>

export default{
    name: 'LeaderboardScore',
    props: {
        leaderboard : Object,
    },
    data() {
        return {
            namePlayer: "",
            seconds: 0,
        }
    },
    methods: {
        async fetchLeaderboard(){
            let res = await fetch(this.leaderboard.run.players['0'].uri);
            res = await res.json();
            this.namePlayer = res.data.names.international;
            console.log(this.leaderboard);
        }
    },
    watch: {
        async leaderboard() {
            await this.fetchLeaderboard();
            this.seconds = this.leaderboard.run.times.realtime_t;
        },
    },
    async mounted() {
        await this.fetchLeaderboard();
        this.seconds = this.leaderboard.run.times.realtime_t;
    }
}

</script>

<style scoped>

    .text{
        display: flex;
        flex-flow: row;
        color: aliceblue;
        justify-content: space-between;
    }

    .placement{
        margin-right: 20px;
        color: gold;
    }

    .name{
        color: silver;
    }

</style>