<template>
    <div class="nav">
        <div class="navWrapper">
            <router-link :to="{name:'home'}" class="logo">
                <img src="../assets/logoweb.png" class ="logo"/>
            </router-link>
        </div>
    </div>
</template>

<script>


export default {
    name: 'NavBarGame',
}

</script>

<style scoped>
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6.25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #199C77;
}
.navWrapper{
    width: 945px;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.srcBar{
    width: 50%;
}

.logo{
  height: 95%;
}

.choice{
  user-select: none;
}

@media screen and (max-width: 800px) {
  .navWrapper{
    flex-direction: column;
  }
}
</style>