<template>
    <div class="nav">
        <div class="navWrapper">
            <img src="../assets/logoweb.png" class ="logo"/>
            <ResearchBar v-model:val="search" class="srcBar"/>
            <div class="language">
              <input type="radio" id="int" value="International" v-model="picked" />
              <label for="int" class="choice">International</label>
              <input type="radio" id="jap" value="Japanese" v-model="picked" />
              <label for="jap" class="choice">Japanese</label>
            </div>
        </div>
    </div>
</template>

<script>

const controller = new AbortController;

import ResearchBar from './ResearchBar.vue'

export default {
  name: 'NavBar',
  components: {
    ResearchBar
  },
  props: {
      whichPlatform: String,
      whichOrder: String,
  },
  data() {
    return{
      count: 0,
      search: '',
      picked: "International",
    }
  },
  methods: {
    async fetchData() {
      let res;
      if(this.whichPlatform === 'Toutes les plateformes'){
        res = await fetch(`https://www.speedrun.com/api/v1/games?orderby=${this.whichOrder}&max=49&name=${this.search}`);
      }
      else{
        res = await fetch("https://www.speedrun.com/api/v1/games?max=49&platform=" + this.whichPlatform + "&name=" + this.search)
      }
      res = await res.json();
      this.$emit('json', res);
    }
   },
   watch: {
    async search() {
      if(this.search.length !==1){ 
        controller.abort();     
        await this.fetchData();
      }
    },
    picked() {
      this.$emit('language', this.picked);
    },
    whichPlatform: async function() {
      controller.abort();     
      await this.fetchData();
    },
    whichOrder: async function() {
      controller.abort();
      await this.fetchData();
    }
   },
   async mounted(){
    await this.fetchData();
   },
   emits: ['json', 'language']
}
</script>

<style scoped>
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6.25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #199C77;
}
.navWrapper{
    width: 945px;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.srcBar{
    width: 50%;
}

.logo{
  height: 90%;
}

.choice{
  user-select: none;
}

@media screen and (max-width: 800px) {
  .logo{
    display: none;
  }
  .navWrapper{
    flex-direction: column;
  }

  .srcBar{
    width: 80%;
  }

  .nav{
    height: 70px;
  }
}
</style>