<template>
    <h2>404</h2>
    <p>Page non trouvée</p>
  </template>
  
<script>
export default {
  async beforeRouteEnter(to, from, next) {
    try {
      const res = await fetch(`https://www.speedrun.com/api/v1/games/${to.params.catchAll}`);
      if (res.ok) {
        next({name:'game', params:{id:to.params.catchAll}});
      } else {
        next();
      }
    } catch (error) {
      next();
    }
  }
}
</script>
  
<style>

</style>