<template>
  <div>
    <NavBar @json="handleRequestAPI" @language="getLanguage" :whichPlatform="platform" :whichOrder="order"/>
    <div>
      <BackBody :tab="datas" :whichLanguage="language" @platform="getPlatform" @order="getOrder"/>
    </div>
    <BackFooter/>
  </div>
</template>
  
  <script>
  import NavBar from './NavBar.vue'
  import BackBody from './BackBody.vue'
  import BackFooter from './BackFooter.vue'
  
  export default {
    name: 'PageOne',
    components: {
      NavBar,
      BackBody,
      BackFooter
    },
    data() {
      return {
        datas: [],
        language: 'International',
        platform: 'Toutes les plateformes',
        order: 'name.int',
        search: ''
      }
    },
    methods: {
      handleRequestAPI:async function(data) {
        this.datas = data.data;
      },
      getLanguage: function(picked) {
        this.language=picked
      },
      getPlatform: function(selectedPlatform) {
        this.platform=selectedPlatform
      },
      getOrder: function(selectedOrder){
        this.order=selectedOrder
      }
    }
  }
  </script>
