<template>
    <p>Test</p>
    <NavBarGame/>
    <BackBodyGame :name="nameGame" :image="illu" :categories="categoriesFound" :infos="categoryInfo" :leaderboard="classed" @categoryChosen="getCategory"/>
    <BackFooter/>
</template>

<script>

import NavBarGame from './NavBarGame.vue';
import BackBodyGame from './BackBodyGame.vue';
import BackFooter from './BackFooter.vue';

export default {
    name: 'PageTwo',
    components: {
        NavBarGame,
        BackBodyGame,
        BackFooter
    },
    methods: {
        async fetchData() {
            let res = await fetch(`https://www.speedrun.com/api/v1/games/${this.idGame}`);
            res = await res.json();
            this.data = res.data;
        },
        async fetchCategories() {
            let res = await fetch(`https://www.speedrun.com/api/v1/games/${this.idGame}/categories`);
            res = await res.json();
            this.categoriesFound = res.data;
        },
        async fetchCategory(){
            if(this.category != 'none'){
                let res = await fetch(`https://www.speedrun.com/api/v1/categories/${this.category}`);
                res = await res.json();
                this.categoryInfo = res.data;
            }
        },
        async fetchLeaderboard(){
            if(this.category != 'none'){
                let res = await fetch(`https://www.speedrun.com/api/v1/leaderboards/${this.idGame}/category/${this.category}`);
                res = await res.json();
                this.classed = res.data.runs;
            }
        },
        getCategory: function(cat) {
            this.category = cat;
        }
    },
    data() {
        return {
            data: [],
            idGame : '',
            nameGame: '',
            illu: '',
            categoriesFound: [],
            category: '',
            categoryInfo: [],
            classed: []
        }
    },
    async mounted() {
        this.idGame = this.$route.params.id;
        await this.fetchData();
        await this.fetchCategories();
        this.nameGame=this.data.names.international;
        this.illu=this.data.assets['cover-large'].uri;
    },
    watch: {
        async category() {
            console.log("wesh")
            await this.fetchCategory();
            await this.fetchLeaderboard();
        }
    }
}

</script>

<style>
    .logo{
        height: 100px;
    }

    .test{
        margin-top: 50px;
    }
</style>