<template>
    <div class="src">
        <input type="text" :value="val" @input="$event=>handleInput($event)" maxlength="30" placeholder="Recherchez votre jeu pour trouver les meilleures run !" class="input">
    </div>
</template>

<script>

export default{
    name: 'ResearchBar',
    props: {
        val: String
    },
    emits: ['update:val'],
    methods: {
        handleInput(e) {
            this.$emit('update:val', e.target.value)
        }
    }

}
</script>

<style scoped>

.input{
    padding: 8px 9px;
    width: 100%;
    border-radius: 2px;
    background-color: #1e262c;
    border-color: #1e262c;
    color: aliceblue;
}

</style>